<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Not Found</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
<style>

*
{
  font-family: 'PT Sans Caption', sans-serif, 'arial', 'Times New Roman';
}


    ol{
        text-align: center;
        margin: 1em;
        color: black;
        font-weight: 100;
        line-height: 2.3em;
    }
    li{
        font-size: 20px;
        font-weight: 100;
    }


</style>
</head>
<body>
<script src="https://kit.fontawesome.com/a076d05399.js"></script>
<link href='https://fonts.googleapis.com/css?family=Anton|Passion+One|PT+Sans+Caption' rel='stylesheet' type='text/css'>
            <div class="error">
                <div class="container-floud">
                    <div class="col-xs-12 ground-color text-center">
                        <h2 class="h1">Sorry! Page not found. Possible reason(s):</h2>
                        <ol>
                            <li>Misspelled input.</li>
                            <li>The movie name does not exist in the database.</li>
                        </ol>
                    </div>
                </div>
            </div>
</body>

</html>
